<header>
    <nav class = "navbar">
      <div class = "container">
        <a href = "index.html" class = "navbar-brand">Art.Design</a>
        <div class = "navbar-nav">
          <a href = "">home</a>
          <a href = "">design</a>
          <a href = "">blog</a>
          <a href = "">about</a>
        </div>
      </div>
    </nav>
    
  </header>



  
  <!-- end of header -->